
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.child {
    align-self: flex-end;
    flex: 1;
    padding: 10px;
}

.controls {
    composes: child;
    min-width: 100px;
}

.editor {
    composes: child;
    min-width: 500px;
}

.terminal {
    composes: child;
    background-color: white;
    font-family: Consolas, "Courier New", monospace;
    min-width: 500px;
    padding-left: 36px;
    border-top: lightgray 1px solid;
    overflow: auto;
    height: 150px;
}

button {
    background-color: #0a7eb2;
    border-radius: 0px;
    border: 0;
    box-shadow: none;
    color: white;
    padding: 10px;
}

