
.terminal {
    background-color: white;
    font-family: Consolas, "Courier New", monospace;
    width: 90%;
    padding-left: 36px;
    border-top: lightgray 1px solid;
    overflow: auto;
    padding: 10px;
    padding-left: 32px;
}

.content { 
    width: 100%; 
}

.editor { 
    width: 90%; 
    min-width: 40px;  
    float: left;
}

.controls { 
    width: 80px; 
    float: right;
    position: relative;
}

button {
    background-color: #0a7eb2;
    border-radius: 0px;
    border: 0;
    box-shadow: none;
    color: white;
    padding: 10px;
    position: absolute;
    right: -60px;
    bottom: 4px;
}