@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "./constants";

@keyframes textBlink {
    from {
      color: $white;
    }
    
    to {
        color: $text;
    }
  }

.run-button {
    @extend .button, .is-primary;
    margin: 2px;
    background-color: $dotnet-purple;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
}

.button:hover {
    background-color: #2a03b2;
}

.run-icon{
    @extend .mdi, .mdi-play-circle-outline;
}

.top-right-position{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px;
}
