@charset "utf-8";
@import "./constants";

@keyframes textBlink {
  from {
    color: $white;
  }

  to {
    color: $text;
  }
}

@keyframes buttonBusy{
  0% {
    opacity: 0;
    stroke: $white;
    transform: rotate(0deg);
  }

  25% {
    opacity: 1;
    stroke: lighten($dotnet-purple, 17.5%);
    transform: rotate(179deg);
  }

  50% {
    opacity: 0;
    stroke: $white;
    transform: rotate(359deg);
  }

  75% {
    opacity: 1;
    stroke: lighten($dotnet-purple, 17.5%);
    transform: rotate(539deg);
  }

  100% {
    opacity: 0;
    stroke: $white;
    transform: rotate(719deg);
  }
}

@mixin action-button {
  font-size: 20px;
  border: none;
  margin: 2px;
  padding: 4px 12px;
  color: $white;
  background-color: $dotnet-purple;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

button.run,
ul.index > li {
  @include action-button;

  &:hover {
    background-color: lighten($dotnet-purple, 17.5%);
  }

  &:disabled {
    background-color: lighten($dotnet-purple, 25.5%);
  }

  svg {
    transform-origin: 50% 50%;
    height: 16px;
    display: inline-flex;
    fill: $white;
  }
}

ul.index > li > a {
  display: block;
  color: $white;
  padding: 4px 12px;
  text-decoration: none;
}

.code-container-inline button.run {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 4px;
  content:"run";
  svg {
    fill: $white;
  }
}

.code-container-inline button.busy {
  svg {
    animation: buttonBusy 2s infinite linear;
  }
}
