@charset "utf-8";

@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "./constants";

@keyframes textBlink {
    from {
      color: $white;
    }
    
    to {
        color: $text;
    }
  }

button.run {
    font-size: 20px;
    border: none;
    margin: 2px;
    padding: 4px 12px;
    color: $white;
    background-color: $dotnet-purple;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    background-repeat: no-repeat;

    &:hover {
        background-color: lighten($dotnet-purple, 17.5%);
    }

    svg {
        height: 14px;
    }
}

.inline-code-container button.run {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px;
}
