@charset "utf-8";

$dotnet-purple:  #512bd4;
$header-footer-color: white;
$footer-background-color: $dotnet-purple;
$content-height: 89vh;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "../node_modules/xterm/dist/xterm";
@import "../node_modules/xterm/dist/addons/fullscreen/fullscreen.css";

@keyframes textBlink {
    from {
      color: $white;
    }
    
    to {
        color: $text;
    }
  }

@keyframes shimmerBackground {
    0% {background-position:-5000px 0}
    100% {background-position:5000px 0}
}

.shimmer {
    background-image: -moz-linear-gradient(160deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.85) 60%, rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(160deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.85) 60%,rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(160deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.85) 60%,rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(160deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.85) 60%,rgba(255,255,255,0) 100%);
    background-image: linear-gradient(160deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.85) 60%,rgba(255,255,255,0) 100%);
    background-repeat: repeat-y;
    background-position:-5000px 0;
    animation: shimmerBackground 8s linear infinite;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

html {
    overflow-y: hidden;
}

.content {
    flex: 1;
}

.run-button {
    @extend .button, .is-primary;
    background-color: $dotnet-purple;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
}

.button:hover {
    background-color: #2a03b2;
}

.error {
    color: red;
    border: red;
    border-style: dotted;
}

.error-icon{
    @extend .mdi, .mdi-alert-decagram-outline;
}

.output-panel{
    @extend .box;   
    min-height: 200px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.code-column{
    @extend .column.is-two-thirds;    
    overflow-y: auto;
    height: $content-height;
}

.control-column{
    @extend .column;
    overflow-y: auto;
    height: $content-height;
}

.documentation-container{
    @extend .columns;
    margin: 10px
}

.code-example{
    @extend .button, .is-link;
    background-color: $dotnet-purple;
}

.source-file{
     @extend .mdi, .mdi-file-document-outline;
}

ul.code-example-list li{
    list-style: none;
}

.run-failure{
    transition: all 0.2s ease-in;
    background: $red;
    color: $white;
}
.run-execution{
    animation-duration: 1s;
    animation-name: textBlink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.run-success{
    transition: all 0.2s ease-in; 
}

.header {
    background-color: $dotnet-purple;
    color: $header-footer-color;
    font-size: .6em;
    min-height: 2vh;
}

.header div {
    float: right;
    margin-right: 2em;
}

.header a {
    color: inherit;
    text-decoration: none;
}

footer {
    max-height: 6em;
    color: $header-footer-color;
}

footer ul {
    float: right;
}

.footer {
    padding: unset;
}

.footer-logo {
    float: left;
}

footer li {
    display: inline-block;
    font-size: 11px;
    list-style-type: none;
    padding: 0 24px 4px 0;
}

footer li a {
    color: inherit;
    text-decoration: none;
}

footer li a:hover {
    color: lightblue;
    text-decoration: underline;
}