@charset "utf-8";

@import "../node_modules/github-markdown-css/github-markdown";
// @import "../node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "../node_modules/xterm/dist/xterm";
@import "../node_modules/xterm/dist/addons/fullscreen/fullscreen";

@import "./constants";
@import "./run-button";


html, body { font-family: "Segoe UI",Helvetica,Arial,sans-serif; }

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

html {
    overflow-y: hidden;
}

header {
    background-color: $dotnet-purple;
    color: $header-footer-color;    
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;   

    .dotnet-try {
        color: $dotnet-try-cmd-color;
        font-size: $dotnet-try-cmd-font-size;
    }

    .project-file-path {
        opacity: 0.6;
        font-size: $dotnet-try-cmd-font-size;
        margin-left: 16px;
    }

    a {   
        color: inherit;
        text-decoration: none;
    }
}

section {
    flex: 1;
    overflow: auto;
    display: flex;

    #documentation-container {
        flex-grow: 1;
    }
    .control-column {
        // TODO not sure why this works
        flex-basis: 100%;
    }

    > div {
        overflow-y: auto;   
        padding: 16px;
    }
}

footer {
    max-height: 6em;
    color: $header-footer-color;
    background: $footer-background-color;

    ul {
        float: right;

        li {
            display: inline-block;
            font-size: 11px;
            list-style-type: none;
            padding: 0 24px 4px 0;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: lightblue;
                    text-decoration: underline;
                }
            }            
        }
    }
}

.collapsed{
    visibility: collapse;
    min-height: 0px;
    height: 0px;
}

.error-icon{
    // TODO 
//    @extend .mdi, .mdi-alert-decagram-outline;
}

.notification.is-danger {
    border: 1px solid red;
    padding: 1em;
    background: rgba(255, 0, 0, 0.1);
    border-left-width: 4px;
}

.output-panel{
    min-height: 160px;
    margin: 16px 0;
    border: 1px solid #ddd;
    padding: 2px;
    overflow: auto;
}

.inline-code-container{
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 01px;
    border: 1px solid #ab9ce0;
    border-left: 4px solid #ab9ce0;
}

.code-container{
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 01px;
    border: 1px solid #ab9ce0;
    border-left: 4px solid #ab9ce0;
}

.output-panel-inline{     
    background: rgb(245, 244, 247); 
    color: #000;
    overflow-y: auto;   
}

.output-panel-inline.expanded {
    visibility: visible;   
    min-height: $output-panel-min-height; 
    max-height: 400px;   
    padding:2px;
    padding-left: .5em;      
    margin: 1px;
}

.output-panel-inline.run-failure {
    @extend .output-panel-inline.expanded, .run-failure;
}
.output-panel-inline.run-execution {
    @extend .output-panel-inline.expanded, .run-execution;
}
.output-panel-inline.run-success {
    @extend .output-panel-inline.expanded, .run-success;
}
.output-panel-inline.error {
    @extend .output-panel-inline.expanded, .error;
}

.editor-panel {
    margin: 0;
    padding: 0;
}

ul.index {
    li {
        padding: 0;
        list-style: none;
        background-color: $dotnet-purple;
//        @include action-button
    }
}
